* {
    font-family: Arial, sans-serif;
}

.header {
    position: absolute;
    top: 20px;
    right: 20px;
}

.button-top-right {
    width: 70px;
    height: 40px;
    margin-left: 10px;
    background-color: white;
    border-style: hidden;
    font-size: 15px;
}

.button-top-right:hover {
    background-color: lightgray;
    transition: 1500ms;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.content {
    max-width: 625px;
}