.header {
    position: absolute;
    top: 20px;
    right: 20px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.content {
    max-width: 625px;
}