* {
    font-family: Arial, sans-serif;
    color: black;
}

.header {
    position: absolute;
    top: 10px;
    right: 20px;
}

.button-top-right {
    text-decoration: none;
    padding: 20px 10px;
    margin-left: 5px;
    display: inline-block;
    background-color: white;
    border-style: hidden;
    font-size: 20px;
}

.button-top-right:hover {
    background-color: lightgray;
    transition: 1500ms;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.content {
    max-width: 625px;
    font-size: 17px;
}